@page "/rentalList"
@inject RentalService RentalService

<h3>Rental List</h3>
<ProtectedPage>

	@if (ActiveRentals == null || CompletedRentals == null)
	{
		<p>Loading...</p>
	}
	else
	{
		<h4>Active Rentals</h4>
		@if (ActiveRentals.Count == 0)
		{
			<p>No active rentals.</p>
		}
		else
		{
			<table class="table table-bordered table-light table-hover">
				<thead class="table-secondary">
					<tr>
						<th>Customer</th>
						<th>Item</th>
						<th>Rental Date</th>
						<th>Employee</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var rental in ActiveRentals)
					{
						<tr>
							<td>@rental.CustomerName</td>
							<td>@rental.ItemName</td>
							<td>@rental.RentalDate.ToString("dd-MM-yyyy")</td>
							<td>@rental.EmployeeName</td>
						</tr>
					}
				</tbody>
			</table>
		}

		<h4>Completed Rentals</h4>
		@if (CompletedRentals.Count == 0)
		{
			<p>No completed rentals.</p>
		}
		else
		{
			<table class="table table-bordered table-light table-hover">
				<thead class="table-secondary">
					<tr>
						<th>Customer</th>
						<th>Item</th>
						<th>Price per day</th>
						<th>Days</th>
						<th>Total price</th>
						<th>Rental Date</th>
						<th>Return Date</th>
						<th>Employee</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var rental in CompletedRentals)
					{
						GetTotalDaysAndPrice(rental);

						<tr>
							<td>@rental.CustomerName</td>
							<td>@rental.ItemName</td>
							<td>@rental.PricePerDay €</td>
							<td>@TotalDays</td>
							<td>@TotalPrice €</td>
							<td>@rental.RentalDate.ToString("dd-MM-yyyy")</td>
							<td>@rental.ReturnDate?.ToString("dd-MM-yyyy")</td>
							<td>@rental.EmployeeName</td>
						</tr>
					}
				</tbody>
			</table>
		}
	}
</ProtectedPage>

@code {
	private List<RentalViewModel> ActiveRentals = new();
	private List<RentalViewModel> CompletedRentals = new();

	private int TotalDays = 0;
	private decimal TotalPrice = 0.00m;

	protected override async Task OnInitializedAsync()
	{
		ActiveRentals = await RentalService.GetActiveRentalsAsync();
		CompletedRentals = await RentalService.GetCompletedRentalsAsync();
	}


	private void GetTotalDaysAndPrice(RentalViewModel rental)
	{
		if (rental.ReturnDate.HasValue)
		{
			TotalDays = (rental.ReturnDate.Value.Date - rental.RentalDate.Date).Days + 1;
			TotalPrice = TotalDays * rental.PricePerDay;
		}
	}
}
